cloudpickle==3.0.0
crafter==1.8.3
gym==0.26.2
gymnasium>=0.26.2
# Note that jax needs to be installed separately with the GPU installation
# instructions in the Jax README, BEFORE installing the other reqs.
jax==0.4.23
jaxlib==0.4.20
numpy==1.23.5
optax==0.1.8
rich==13.7.1
ruamel.yaml==0.18.5
tensorflow==2.12.0
tensorflow_estimator==2.12.0
tensorflow_io_gcs_filesystem==0.32.0
tensorflow_probability==0.21.0