cloudpickle
crafter
gym==0.26.2
gymnasium>=0.26.2
# Note that jax needs to be installed separately with the GPU installation
# instructions in the Jax README, BEFORE installing the other reqs.
jax
jaxlib==0.4.20
numpy
optax
rich
ruamel.yaml
tensorflow==2.12.0
tensorflow_estimator
tensorflow_io_gcs_filesystem
tensorflow_probability